.peercoin__logo {
    margin-bottom:10px;
}

.h1, .h3, div {
    padding:8px;
}

input[type="file"] {
	display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.filetext {
	display:inline-block;
	height:45px;width:200px;
	border:1px solid rgb(0, 0, 0);
	overflow:hidden;
	vertical-align: bottom;
}

.graph {
	display:flex;
	padding:0px;height:500px;width:100%;
	background-color:#0af852;
}

